<template name="input">
    <div id="input" class="well well-small" style="margin-top: -17px;">
        <p>Your message</p>  
        <input type="text" class="input-xlarge" rows="3" id="newMessage" style="width:96%;" />
        <a class="btn btn-primary" type="button" style= "display:none;" id="send">Send</a> 
        <a class="btn btn-mini btn-danger" style="margin-bottom: 10px;" type="button" id="delete_chat">Clear Chat</a> 
         <h6 style="display:inline-block; position: relative; top: -5px; left: 10px; font-weight: 200;">{{userOnline}} <i class="fa fa-user" style="color:#646464;"></i> online</h6>
    </div>
</template>
