<template name="home">
<div class="container" style="position:relative;">
    <div class="navbar navbar-fixed-top" style="background: #ffffff; min-height::;px;">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse collapse">
            <ul class="nav">
                  {{#if currentUser}}
                <li id="add_words" class="nav-links"><a><i class="fa fa-plus-circle"></i> Add Words</a>
                </li>
                <li id="delete" class="nav-links"><a><i class="fa fa-refresh"></i> Refresh Fridge</a>
                </li>
              
                <li id="chat-open" class="nav-links">
                    <a><i class="fa fa-comments"></i> Chat</a>
                </li>
                {{else}}
                <li id="login-mobile" class="nav-links hidden-desktop"><a data-toggle="modal" href="#loginModal"><i class="fa fa-power-off"></i> Login</a>
                </li>
                 {{/if}}
            </ul>

       
            <ul class="nav pull-right hidden-desktop" style="left: -40px; margin-bottom: 0px;">
                {{#if currentUser}}
                <li style="position: relative; left: 55px;" data-toggle="modal" href="#loginModal">
                    {{#if user.services.twitter}}
                    <img src="{{user.services.twitter.profile_image_url}}" class="gravatar" />
                    {{else}}
                        {{#if user.services.facebook}}
                    <img src="http://graph.facebook.com/{{user.services.facebook.id}}/picture" class="gravatar" />
                        {{else}}
                    <img src="http://www.gravatar.com/avatar" class="gravatar" />
                        {{/if}} 
                    {{/if}}
                </li>
                {{else}} 
             
                {{/if}}
            </ul>
        </div>

       
            <ul class="nav pull-right visible-desktop" style="left: -40px;">
                <li>
                    {{> loginButtons}}
                </li>
                {{#if currentUser}}
                <li style="position: relative; left: 55px;">
                    {{#if user.services.twitter}}
                    <img src="{{user.services.twitter.profile_image_url}}" class="gravatar" />
                    {{else}}
                        {{#if user.services.facebook}}
                    <img src="http://graph.facebook.com/{{user.services.facebook.id}}/picture" class="gravatar" />
                        {{else}}
                    <img src="http://www.gravatar.com/avatar" class="gravatar" />
                        {{/if}} 
                    {{/if}}
                </li>
                {{else}} 
                {{/if}}
            </ul>
        </div>
        <div class="chat-wrap">
            <a href="#" id="close_chat">
                <p class="pull-right" style="position: relative; top: 17px; margin-top:-13px; right:15px; color:#969696;">x</p>
            </a>
            {{#if currentUser}}
             {{> input}} 
             {{/if}} 
             {{> messages}}
        </div>

        <div class="board-wrapper">
            {{> list}}
            <div id="logo_magnet" class="magnet">
                <img src="/logo_magnet.jpg" />
            </div>

            <div class="fridge">
            </div>
        </div>
        <audio id="slap" preload="metadata">
            <source src="/slap.wav">
        </audio>


        <audio id="ding" preload="metadata">
            <source src="/ding.wav">
        </audio>

        <audio id="pop" preload="metadata">
            <source src="/pop.wav">
        </audio>


        <audio id="crumple" preload="metadata">
            <source src="/crumple.wav">
        </audio>

        <div id="footer" style="display:none;">
            {{>wordForm}}
        </div>

    </div>
    <div class="social-wrap">
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' displayText='Tweet'></span>
        <span class='st_linkedin_large' displayText='LinkedIn'></span>
        <span class='st_pinterest_large' displayText='Pinterest'></span>
        <span class='st_email_large' displayText='Email'></span>
        <span style="top: -11px; position: relative;">
            <span class="visible-desktop social-text"><strong>Share This Creation</strong></span>
        </span>
    </div>


<!-- login modal -->
<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Mobile Login</h3>
  </div>
  <div class="modal-body" style="height:350px;">
  <p>{{> loginButtons}}</p>
  </div>
</div>


    <script>
    $(document).ready(function() {

            $(document).on("click", "#add_words", function() {
            $('#add_words').toggleClass('active');
            var pop = $('#pop')[0]
            pop.play();
            pop.volume = .3;
            $('#footer').slideToggle(150);
            $('#name_of_word').focus();
        });


        $('#delete').on('click', function() {
            var crumple = $('#crumple')[0]
            crumple.play();
            crumple.volume = .3;
        });

        stButtons.locateElements();

        // or if you want to be a bit defensive about whether the lib has been
        // loaded or not:
        if (window.stButtons) {
            stButtons.locateElements();
        } // Parse ShareThis markup

        $("#logo_magnet").draggable();

        $(document).on("click", "#chat-open", function() {
            $('#chat-open').toggleClass('active');
            var pop = $('#pop')[0]
            pop.play();
            pop.volume = .3;
            $('.chat-wrap').toggle('slide', {
                direction: 'left'
            }, 200);
            $('#newMessage').focus();
        });

    });
    </script>
</template>
