<template name="home">
    <div class="container" style="position:relative; padding-top:1%;">
        
                <div class="navbar navbar-fixed-top" style="background: #ffffff;">
                    <ul class="nav">
                        <li id="add_words" class="nav-links"><a><i class="fa fa-plus-circle"></i> Add Words</a></li>
                        <li id="delete" class="nav-links"><a><i class="fa fa-trash-o"></i> Clear Fridge</a></li>
                  <!--       <li class="nav-links">
                            <a href="{{pathFor 'home'}}"><i class="fa fa-users"></i> Office Fridge</a>
                        </li> -->
                        {{#if currentUser}}
                        <li id="chat-open" class="nav-links">
                            <a><i class="fa fa-comments"></i> Chat</a>
                        </li>
                    <!--     <li id="new-board" class="nav-links"><a href="{{pathFor 'private'}}"><i class="fa fa-magic"></i> Create My Own</a>
                        </li> -->
                        {{else}}
                         {{/if}}                
                        </ul>
                        <ul class="nav pull-right" style="left: -40px;"> 
                        <li>
                            {{> loginButtons}}
                        </li>
                        {{#if currentUser}}
                            <li style="position: relative; left: 40px;">
                            {{#if user.services.twitter}}
                            <img src="{{user.services.twitter.profile_image_url}}" style="height:43px; width:auto;" />
                            {{else}} 
                            {{#if user.services.facebook}}
                            <img src="http://graph.facebook.com/{{user.services.facebook.id}}/picture" style="height:43px; width:auto;" />
                            {{else}}
                            <img src="http://www.gravatar.com/avatar" style="height:43px; width:auto;" />
                            {{/if}} 
                        {{/if}}
                        </li>
                         {{else}}
                         {{/if}} 
                    </ul>
                </div>

        <div class="chat-wrap">
            <a href="#" id="close_chat">
                <p class="pull-right" style="position: relative; top: 17px; margin-top:-13px; right:15px; color:#969696;">x</p>
            </a>
            {{#if currentUser}} {{> input}} {{/if}} {{> messages}}
        </div>

        <!--     <div class="chat-wrap">
        {{> header }}
        {{#if currentUser}} 
        {{else}}
        <div class="signin">
            {{> loginButtons}}
        </div>
        {{/if}} 
        {{#if currentUser}} 
        {{> input}} 
        {{/if}} 
        {{> messages}}
    </div> -->
        <!--    <div class="chat-open">
        <p>Chat</p>
    </div>
    <div class="footer-open">
        <p>Add Words</p>
    </div> -->
        <div class="board-wrapper">
            {{> list}}
            <div id="logo_magnet" class="magnet" style="position:absolute; top: 7%; left: 7%;">
                <img src="/logo_magnet.jpg" />
            </div>

            <div class="fridge">
            </div>
        </div>
        <audio id="slap" preload="metadata">
            <source src="/slap.wav">
        </audio>
     
            
          <audio id="ding" preload="metadata">
            <source src="/ding.wav">
        </audio>

          <audio id="pop" preload="metadata">
            <source src="/pop.wav">
        </audio>


          <audio id="crumple" preload="metadata">
            <source src="/crumple.wav">
        </audio>

     <div id="footer" style="display:none;">
{{>wordForm}}
</div>

    </div>
    <div class="social-wrap">       
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' displayText='Tweet'></span>
        <span class='st_linkedin_large' displayText='LinkedIn'></span>
        <span class='st_pinterest_large' displayText='Pinterest'></span>
        <span class='st_email_large' displayText='Email'></span>
        <span style="top: -11px; position: relative;"><strong>Share This Creation</strong></span>
    </div>
    <script>


    $(document).ready(function() {

    $('#add_words').on('click', function() {
        $('#add_words').toggleClass('active'); 
        $("#chat-open, #delete").removeClass('active');

           var pop = $('#pop')[0]
                    pop.play();
                    pop.volume = .3;
        $('#footer').slideToggle(150);        
        $('#name_of_word').focus();
    });
   

    $('#delete').on('click', function(){
        $("#chat-open, #add_words").removeClass('active');
            var crumple = $('#crumple')[0]
                    crumple.play();
                    crumple.volume = .3;
    });

        stButtons.locateElements();

        // or if you want to be a bit defensive about whether the lib has been
        // loaded or not:
        if (window.stButtons) {
            stButtons.locateElements();
        } // Parse ShareThis markup

        $("#logo_magnet").draggable();
        $("#chat-wrap").draggable();
        $(document).on("click", "#chat-open", function() {  
        $('#chat-open').toggleClass('active'); 
        $("#add_words, #delete").removeClass('active');

            $('.chat-wrap').show();
            $('#newMessage').focus();

        });

    });


    </script>
</template>
