<template name="private">
    <div class="container" style="position:relative;">
        <div class="row">
            <div class="span12">
                <div class="navbar navbar-fixed-top" style="background: #ffffff;">
                    <ul class="nav">

                        <li class="active">
                            <a href="{{pathFor 'home'}}">Office Fridge</a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="chat-wrap">
            <a href="#" id="close_chat">
                <p class="pull-right" style="position: relative; top: 17px; margin-top:-13px; right:15px; color:#969696;">x</p>
            </a>
            {{#if currentUser}} {{> input}} {{/if}} {{> messages}}
        </div>

        <!--     <div class="chat-wrap">
        {{> header }}
        {{#if currentUser}} 
        {{else}}
        <div class="signin">
            {{> loginButtons}}
        </div>
        {{/if}} 
        {{#if currentUser}} 
        {{> input}} 
        {{/if}} 
        {{> messages}}
    </div> -->
        <!--    <div class="chat-open">
        <p>Chat</p>
    </div>
    <div class="footer-open">
        <p>Add Words</p>
    </div> -->
        {{> list}}
      
        <div class="fridge">
        </div>

        <audio id="slap" preload="metadata">
            <source src="/slap.wav">
        </audio>
          <div id="logo_magnet" class="magnet" style="position:absolute; min-width:190px;">
            <img style="min-width:190px;" src="/logo_magnet.jpg" />
        </div>
        <!--    {{>wordForm}} -->
    </div>
    <div class="social-wrap">
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' displayText='Tweet'></span>
        <span class='st_linkedin_large' displayText='LinkedIn'></span>
        <span class='st_fblike_large' displayText='Facebook Like'></span>
        <span class='st_pinterest_large' displayText='Pinterest'></span>
        <span class='st_email_large' displayText='Email'></span>
    </div>
        <script>
        $(document).ready(function() {
            stButtons.locateElements();

            // or if you want to be a bit defensive about whether the lib has been
            // loaded or not:
            if (window.stButtons) {
                stButtons.locateElements();
            } // Parse ShareThis markup

            $("#logo_magnet").draggable();
            $(".chat-wrap").draggable();
            $(document).on("click", ".chat-open", function() {
                $('.chat-wrap').show();

            });
        });
        </script>
</template>
