<template name="private">
    <div class="container" style="position:relative; padding-top:1%;">    
                <div class="navbar navbar-fixed-top" style="background: #ffffff;">
                   <ul class="nav">
                        <li class="nav-links">
                            <a href="{{pathFor 'home'}}">Office Fridge</a>
                        </li>
                        </ul>
                        <ul class="nav pull-right" style="left: -40px;"> 
                        <li>
                            {{> loginButtons}}
                        </li>
                            <li style="position: relative; left: 43px;">
                            {{#if user.services.twitter}}
                            <img src="{{user.services.twitter.profile_image_url}}" style="height:43px; width:auto;" />
                            {{else}} 
                            {{#if user.services.facebook}}
                            <img src="http://graph.facebook.com/{{user.services.facebook.id}}/picture" style="height:43px; width:auto;" />
                            {{else}}
                            <img src="http://www.gravatar.com/avatar" style="height:43px; width:auto;" />
                            {{/if}} 
                        {{/if}}
                        </li>
                    </ul>
                </div>
        <div class="chat-wrap">
            <a href="#" id="close_chat">
                <p class="pull-right" style="position: relative; top: 17px; margin-top:-13px; right:15px; color:#969696;">x</p>
            </a>
            {{#if currentUser}} {{> input}} {{/if}} {{> messages}}
        </div>

        <!--     <div class="chat-wrap">
        {{> header }}
        {{#if currentUser}} 
        {{else}}
        <div class="signin">
            {{> loginButtons}}
        </div>
        {{/if}} 
        {{#if currentUser}} 
        {{> input}} 
        {{/if}} 
        {{> messages}}
    </div> -->
        <!--    <div class="chat-open">
        <p>Chat</p>
    </div>
    <div class="footer-open">
        <p>Add Words</p>
    </div> -->
    <div class="board-wrapper">
        {{> list}}
            <div id="logo_magnet" class="magnet" style="position:absolute; top: 7%; left: 7%;">
            <img style="min-width:190px;" src="/logo_magnet.jpg" />
        </div>
        <div class="fridge">
        </div>
</div>
        <audio id="slap" preload="metadata">
            <source src="/slap.wav">
        </audio>
    
        <!--    {{>wordForm}} -->
    </div>
      <div class="social-wrap">       
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' displayText='Tweet'></span>
        <span class='st_linkedin_large' displayText='LinkedIn'></span>
        <span class='st_fblike_large' displayText='Facebook Like'></span>
        <span class='st_pinterest_large' displayText='Pinterest'></span>
        <span class='st_email_large' displayText='Email'></span>
        <span style="top: -11px; position: relative;"><strong>Share Your Creation</strong></span>
    </div>
        <script>
        $(document).ready(function() {
            stButtons.locateElements();

            // or if you want to be a bit defensive about whether the lib has been
            // loaded or not:
            if (window.stButtons) {
                stButtons.locateElements();
            } // Parse ShareThis markup

            $("#logo_magnet").draggable();
            $(".chat-wrap").draggable();
            $(document).on("click", ".chat-open", function() {
                $('.chat-wrap').show();

            });
        });
        </script>
</template>
